

*, *::after, *::before{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

:root{
    --primary-color : #EDEBDF;
    --secondary-color : #EAC9AA;
    --green : #039111;
    --black : #333;
    --border-color : #999;
}

body{
    font-family: "Poppins", sans-serif;
    position: relative;
}

.container{
    max-width: 768px;
    min-width: 520px;
    margin: 0 auto;
    padding : 16px;
   
}


/* utility */

.small-icon{
    width : 16px;
    height : 16px;
    cursor : pointer;
}

.medium-icon{
    width : 24px;
    height : 24px;
    cursor : pointer;
}

.large-icon{
    width : 32px;
    height : 32px;
    cursor : pointer;
}

.btn{
    padding : 8px 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

/* Components */


/* =========header========= */

header{
    padding : 20px;
    display: flex;
    align-items: center;
    border : 1px solid var(--black)
}


.header-title{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size : 32px
}




@keyframes slide-down{
    from{
        opacity: .2;
        transform: translateY(-50px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-up{
    from{
        opacity: 1;
        display: block;
    }

    to{
        opacity: 50%;
        transform: translateY(-100%);
        display: none;
      
    }
}

/* .hide{
    display: none;
} */


/* div[accordion-header]  .accordion-content{
    animation: slide-down .5s;
} */

div[accordion-header][close] .accordion-content{
    display: none;
}

.slide-down{
    animation: slide-down .5s;
}

.completed-subject, .completed-task{
    text-decoration: line-through;
    background-color: rgb(241, 94, 110) !important;
}

/* div[open]{
    background-color: red;
} */
/* ==========Create Button =============== */



.create-btn{
    width: 100%;
    outline: none;
    border : 1px dashed var(--green);
    padding : 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 8px;
    color : var(--green);
    border-radius: 8px;
    background: transparent;
    cursor : pointer;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: inherit;
    
}



/* ============  Option menu ========*/

.category-container{
    display: flex;
    flex-direction: column;
    gap : 40px;
    padding : 20px 0;
}

.list-menu{
    padding : 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background : var(--primary-color);
    font-family: inherit;
    border : 1px solid var(--black);
    width : 100%;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.task .list-menu{
    background-color: transparent !important;
    font-weight: normal;
    cursor: default;
}

.category > .list-menu{
    font-size: 20px;
}

 .list-menu-left, .list-menu-right{
    display: flex;
    align-items: center;
   
    gap : 16px;
}


/* list menu right */
.list-menu-right{
    gap : 24px;
}

.list-menu-right .arrow{
    transform: rotate(-90deg);
    transition: .4s;
}

[accordion-header][open] > .list-menu .arrow{
    transform: rotate(0deg) !important;
}


.list-content{
    border : 1px solid var(--black);
    padding : 24px 16px;
    border-top : 0;
    display: flex;
    flex-direction: column;
}



.list-content.category-content{
    gap : 20px;
}

.list-content.subject-content{
    background-color: var(--secondary-color);
}

.list-content.subject-content{
    gap : 16px;
}


/* ============modal============= */

@keyframes popup {
    from{
       
        transform: scale(1.2);
    }
    to{
    
        transform: scale(1);
    }
}


@keyframes vanish {
    from{
       
        transform: scale(1);
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: scale(1.2);
    }
}

.vanish{
    animation: vanish .3s forwards;
}

.modal{
    /* transform: scale(1.5); */
  
   animation: popup .3s;
    background-color: var(--primary-color);
   
}
.modal-header{
    border-bottom : 1px solid var(--border-color);
    font-size : 20px;
    text-transform: uppercase;
    padding : 12px;

    text-align: center;
}

.modal-body{
    padding : 16px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap : 4px;
    margin-bottom : 16px;
}

.input-group .input-title, .input-group-x .input-title{
    color : #5f5c5c;
}

.input-group input, select{
    padding : 8px;
    font-family: 'Poppins', sans-serif;
    color : #918686;
}

.input-group-x{
    display: flex;
    justify-content: left;
    align-items: center;
    gap : 12px;
    margin-bottom : 16px;
    margin-left : 4px;
}

.modal-footer{
    padding : 12px;
    border-top : 1px solid var(--border-color);
    display: flex;
    justify-content: right;
    gap : 12px;
}

/* =================popup============= */

.popup{
    position: fixed;
    top : 0;
    left : 0;
   
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    z-index: 5;
    overflow: hidden;
}

body.popup-open{
    height: 100vh;
   overflow: hidden;
  
}